body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d18d7e;

}
form{
    display: flex;
    flex-direction: column;
    font-family: cursive;
    justify-content: center;
    
    text-align: center;


}
label{  
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    position: relative;
    top: 40px;
    right: 5rem;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    
}
span{
    position: absolute;
    top: 20px;
}
input{
border: none;
    border-radius: 10px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
    margin: 10px;
    padding: 15px;
    line-height: 10px;
    font-size: x-large;
}
.btn{
    font-size: 19px;
    cursor: pointer;
}
.btn:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  
}


